body {
	font-family: 'Josefin Sans', sans-serif;
	margin: 0;
}

.flexible-container {
	display: flex;
	flex-wrap: nowrap;
}

.half-width {
	width: 50%;
	padding-left: 20px;
	padding-top: 50px;
}
h1 {
	font-size: 50px;
	color: #575757;
}
span {
	color: #FBA24F
}
.image {
	align-items: center;
}
.half-width > img {
	height: 700px;
	width: 90%;
}

#skip-diet-information {
	margin-top: 15%;
}

#skip-diet-information > p {
	padding-bottom: 20px;
	color: #828282;
}

.btn {
	text-decoration: none;
	margin-top: 15px;
	color: white;
	font-size: 1.3em;
	background-image: linear-gradient(to top right, #FBA24F, #FF1E1E);
	padding: 8px 20px;
	border: transparent;
	border-radius: 30px;
	filter: drop-shadow(0 2px 30px rgba(252, 143, 73, 50%));
}

section {
	margin-bottom: 25px;
	margin-left: 0;
}

#female-image {
	height: 500px;
	width: 500px;
	margin: 0 auto;
	padding-left: 50px;
}

#about-me-information {
	margin-top: 13%;
}

#about-me-information > p {
	padding-bottom: 50px;
}

#about-me {
	width: 100%;
	background: rgba(252, 143, 73, 10%);
	background-image: url(../images/7.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.left-oriented {
	width: 60%;
	height: 100%;
}

.left-oriented > p {
	margin-bottom: 11%;
}