body {
	font-family: 'Josefin Sans', sans-serif;
	margin: 0;
}

.flexible-container {
	display: flex;
	flex-wrap: nowrap;
}

.half-width {
	width: 50%;
	padding-left: 20px;
	padding-top: 50px;
}

h1 {
	font-size: 50px;
	color: #575757;
}

h2 {
	font-size: 1.7em;
	color: #707070;
	font-weight: 800;
}

span {
	color: #FBA24F
}

.image {
	align-items: center;
}

.half-width>img {
	height: 700px;
	width: 90%;
}

#skip-diet-information {
	margin-top: 15%;
}

#skip-diet-information>p {
	padding-bottom: 20px;
	color: #828282;
}

.btn {
	text-decoration: none;
	margin-top: 15px;
	color: white;
	font-size: 1.3em;
	background-image: linear-gradient(to top right, #FBA24F, #FF1E1E);
	padding: 8px 20px;
	border: transparent;
	border-radius: 30px;
	filter: drop-shadow(0 2px 30px rgba(252, 143, 73, 50%));
}

section {
	margin-bottom: 25px;
	margin-left: 0;
}

#female-image {
	height: 500px;
	width: 400px;
	margin: 0 auto;
	padding-left: 100px;
}

#about-me-information {
	margin-top: 13%;
}

#about-me-information>p {
	padding-bottom: 50px;
}

#about-me {
	width: 100%;
	background: rgba(252, 143, 73, 10%);
	background-image: url(../images/7.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.left-oriented {
	width: 60%;
	height: 100%;
}

.left-oriented>p {
	margin-bottom: 11%;
	color: #18191F;
}

#my-recipe {
	width: 30%;
	margin: 0 auto;
}

#my-recipe>h2 {
	color: #676767;
	text-align: center;
}

#my-recipe>p {
	color: #252525;
	text-align: center;
}


#recipes-information {
	display: flex;
	flex-wrap: nowrap;
	margin: 5%;
	align-items: center;
	justify-content: space-between;
}
#recipes-information>.half-width>.recipe-container{
	width: 90%;
	padding: 0 10px 0 20px;
}
#recipes-information>.half-width>.recipe-container>img {
	height: 400px;
}

.recipe {
	/* padding-right: 5px; */
	margin-right: 5%;
	border: 2px solid transparent;
	border-radius: 50px;
	background-color: #ffffff;
	box-shadow: 2px 2px 5px 5px rgba(139, 131, 131, 0.534);
}

.recipe-container > h2 {
	color: #18191F;
	font-weight: 800;
}

.recipe-container>p {
	color: #18191f;
}

#subscriber-count {
	display: flex;
	align-items: center;
	justify-content: space-evenly;

	margin: 7%;
	border: 2px solid transparent;
	border-radius: 50px;
	background-color: #ffffff;
	box-shadow: 2px 2px 5px 5px rgba(139, 131, 131, 0.534);
}

#subscriber-count > .count > h1 {
	color: #18191F;
	text-align: center;
	font-size: 45px;
}

#subscriber-count>.count>p {
	color: #18191F;
	text-align: center;
}